<div{{ attributes }}>
    <!-- component html -->
    		<nav class="w-64 bg-[#1E375A] text-white p-4 h-full">
			<ul>
				<li class="mb-2">
					<a href="/client" class="hover:text-gray-300">Clients</a>
				</li>
				<li class="mb-2">
					<a href="/dettes" class="hover:text-gray-300">Dettes</a>
				</li>
				<li class="mb-2">
					<a href="/dette/new	" class="hover:text-gray-300">Nouvelle dette</a>
				</li>
                <li class="mb-2">
					<a href="/user	" class="hover:text-gray-300">Users</a>
				</li>
                <li class="mb-2">
					<a href="/article	" class="hover:text-gray-300">Articles</a>
				</li>
			</ul>
		</nav>
</div>
